## MC Donald dataset

In [4]:
import pandas as pd
df = pd.read_excel('.\data\mcd.xlsx',header = None)
df.head()

       0                     1             2          3     4
0  10284              McVeggie  French Fries       Coke   NaN
1  10064  Chicken Maharaja Mac  French Fries    McWings  Coke
2  10237                McAloo  French Fries  Thumbs up   NaN
3  10050  Chicken Maharaja Mac  French Fries  McNuggets  Coke
4  10259              McVeggie  French Fries       Coke   NaN

In [9]:
df.drop(columns=[0], inplace = True)
df

                        1                               2          3     4
0                McVeggie                    French Fries       Coke   NaN
1    Chicken Maharaja Mac                    French Fries    McWings  Coke
2                  McAloo                    French Fries  Thumbs up   NaN
3    Chicken Maharaja Mac                    French Fries  McNuggets  Coke
4                McVeggie                    French Fries       Coke   NaN
..                    ...                             ...        ...   ...
515        McSpicy Paneer                Veg Pizza McPuff       Coke   NaN
516              McVeggie                    French Fries       Coke   NaN
517             Hot Cakes                          Coffee        NaN   NaN
518        McSpicy Paneer                Veg Pizza McPuff       Coke   NaN
519        McSpicy Paneer  Aloo Tikki with Chipotle Sauce       Coke   NaN

[520 rows x 4 columns]

In [10]:
dataset = [[element for element in list1 if str(element)!= 'nan' ] for list1 in df.values]
dataset[:5]

[['McVeggie', 'French Fries', 'Coke'],
 ['Chicken Maharaja Mac', 'French Fries', 'McWings', 'Coke'],
 ['McAloo', 'French Fries', 'Thumbs up'],
 ['Chicken Maharaja Mac', 'French Fries', 'McNuggets', 'Coke'],
 ['McVeggie', 'French Fries', 'Coke']]

In [11]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te=te.fit(dataset) #reads all unique values in your list
print(te.columns_)
te_ary = te.fit_transform(dataset) #creates a boolean 2d array from dataset
print(te_ary)

['Aloo Tikki with Chipotle Sauce', 'BigSpicy Chicken Wrap', 'Chicken Maharaja Mac', 'Coffee', 'Coke', 'Coke Float', 'French Fries', 'Hash Brown', 'Hot Cakes', 'McAloo', 'McChicken', 'McNuggets', 'McSpicy Chicken', 'McSpicy Paneer', 'McVeggie', 'McWings', 'Thumbs up', 'Veg Maharaja Mac', 'Veg Pizza McPuff']
[[False False False ... False False False]
 [False False  True ... False False False]
 [False False False ...  True False False]
 ...
 [False False False ... False False False]
 [False False False ... False False  True]
 [ True False False ... False False False]]

In [12]:
mcddf = pd.DataFrame(te_ary, columns = te.columns_)
mcddf.head()

,Aloo Tikki with Chipotle Sauce,BigSpicy Chicken Wrap,Chicken Maharaja Mac,Coffee,Coke,Coke Float,French Fries,Hash Brown,Hot Cakes,McAloo,McChicken,McNuggets,McSpicy Chicken,McSpicy Paneer,McVeggie,McWings,Thumbs up,Veg Maharaja Mac,Veg Pizza McPuff
0,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,True,False,True,False,True,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False
3,False,False,True,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [13]:
from mlxtend.frequent_patterns import apriori

#finds frequency of items or itemsets
frequent_itemsets = apriori(mcddf, use_colnames = True, min_support = 0.15)
frequent_itemsets

    support                   itemsets
0  0.151923                   (Coffee)
1  0.513462                     (Coke)
2  0.734615             (French Fries)
3  0.225000                   (McAloo)
4  0.169231                 (McVeggie)
5  0.232692                (Thumbs up)
6  0.434615       (French Fries, Coke)
7  0.225000     (French Fries, McAloo)
8  0.169231   (French Fries, McVeggie)
9  0.198077  (French Fries, Thumbs up)

In [15]:
from mlxtend.frequent_patterns  import association_rules

#Forming asso rrules amd returning all performances metrics of those asso
rules = association_rules(frequent_itemsets,metric ='support',min_threshold=0.15)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(French Fries),(Coke),0.734615,0.513462,0.434615,0.591623,1.152225,0.057419,1.191395
1,(Coke),(French Fries),0.513462,0.734615,0.434615,0.846442,1.152225,0.057419,1.728236
2,(French Fries),(McAloo),0.734615,0.225000,0.225000,0.306283,1.361257,0.059712,1.117170
3,(McAloo),(French Fries),0.225000,0.734615,0.225000,1.000000,1.361257,0.059712,inf
4,(French Fries),(McVeggie),0.734615,0.169231,0.169231,0.230366,1.361257,0.044911,1.079435
5,(McVeggie),(French Fries),0.169231,0.734615,0.169231,1.000000,1.361257,0.044911,inf
6,(French Fries),(Thumbs up),0.734615,0.232692,0.198077,0.269634,1.158756,0.027138,1.050579
7,(Thumbs up),(French Fries),0.232692,0.734615,0.198077,0.851240,1.158756,0.027138,1.783974

In [18]:
newrules = rules[rules['confidence']>0.15]
newrules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(French Fries),(Coke),0.734615,0.513462,0.434615,0.591623,1.152225,0.057419,1.191395
1,(Coke),(French Fries),0.513462,0.734615,0.434615,0.846442,1.152225,0.057419,1.728236
2,(French Fries),(McAloo),0.734615,0.225000,0.225000,0.306283,1.361257,0.059712,1.117170
3,(McAloo),(French Fries),0.225000,0.734615,0.225000,1.000000,1.361257,0.059712,inf
4,(French Fries),(McVeggie),0.734615,0.169231,0.169231,0.230366,1.361257,0.044911,1.079435
5,(McVeggie),(French Fries),0.169231,0.734615,0.169231,1.000000,1.361257,0.044911,inf
6,(French Fries),(Thumbs up),0.734615,0.232692,0.198077,0.269634,1.158756,0.027138,1.050579
7,(Thumbs up),(French Fries),0.232692,0.734615,0.198077,0.851240,1.158756,0.027138,1.783974